seed: 7
hvg_n_top_genes: 2000

spec:
  n_pcs: 20
  dcol_max_cells: 3000
  # ari_label_key: "Cell type annotation"        # <-- this must match an obs column name      # <-- this must match an obs column name
  ari_label_key: paul15_clusters        # <-- this must match an obs column name      # <-- this must match an obs column name
  ari_n_dims: 10              # how many dims to use for ARI per embedding
  ad_file: data/paul15/paul15.h5ad
  # ad_file: data/prep/qc.h5ad
qc:
  min_cells: 500
  min_genes: 200
  max_pct_mt: 15


eggfm_model:
  hidden_dims: [256, 256]   # smaller net for paul15

eggfm_train:
  batch_size: 1024
  num_epochs: 50
  lr: 3e-4
  sigma: 0.1
  early_stop_patience: 5
  early_stop_min_delta: 1e-4
  latent_space: PCA


eggfm_diffmap:
  n_neighbors: 30
  n_comps: 30
  device: cuda
  hvp_batch_size: 1024
  eps_mode: median
  eps_trunc: no
  t: 2.0
  latent_space: PCA


  hessian_mix_mode: none
  hessian_beta: 0.2
  hessian_mix_alpha: 0.2
  hessian_clip_std: 2.0
  hessian_use_neg: yes